
# ignore clutter files on Mac:
.DS_Store

# ignore secret credentials:
.env

# ignore products database (but keep other example CSV files):
data/products.csv

# ignore receipt exports:
receipts/*.txt

# ignore results of running tests:
__pycache__
.pytest_cache
